@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Trash Collection</h3>
<!--<h3>@ViewBag.Message</h3>-->

<p>Welcome to the Trash Collector site! Register as a customer to sign up for grabage removal.</p>
